/* You can add global styles to this file, and also import other style files */

.r1{
  color: red;
}
.g1{
  color: green;
  font-weight: bold;
}
.b1{
  color: blue;
  background-color: aqua;
  font-weight: bold;
}
